<div class="relative mt-20">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
        <div class="relative sm:py-16 lg:py-0">
        <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
            <div class="absolute inset-y-0 right-1/2 w-full rounded-r-3xl bg-gray-50 lg:right-72"></div>
            <svg class="absolute top-8 left-1/2 -ml-3 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392" fill="none" viewBox="0 0 404 392">
            <defs>
                <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
            </svg>
        </div>
        <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
            <!-- Testimonial card-->
            <div class="relative overflow-hidden rounded-2xl pt-64 pb-10 shadow-xl">
            <img class="absolute inset-0 h-full w-full object-cover" src="/house.jpeg" alt="House">
            </div>
        </div>
        </div>

        <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0">
            <!-- Content area -->
            <div class="pt-12 sm:pt-16 lg:pt-20">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">About Our Society</h2>
                <div class="mt-6 space-y-6 text-gray-500">
                <p class="text-xl">The "Real" Greenland is a small, idyllic community nestled in the rolling hills of rural America. It is known for its innovative approach to housing, with every home and building constructed entirely out of metal. The metal walls and roofs are not only durable and long-lasting, but they also provide excellent insulation and energy efficiency.</p>
                <p class="text-xl">The town is a safe and peaceful place to live, with low crime rates and a strong sense of community. The residents of The "Real" Greenland are friendly and welcoming, and they take pride in their clean and well-maintained streets and public spaces.</p>
                <p class="text-xl">The town is home to a variety of local businesses, including a farmers market, a bakery, a bookstore, and a coffee shop. There is also a community center that hosts regular events and activities, such as yoga classes, art exhibits, and movie nights.</p>
                <p class="text-xl">Despite its small size, The "Real" Greenland is a vibrant and thriving community, with a strong sense of identity and pride. It is the perfect place for families, retirees, and anyone looking for a safe and peaceful place to call home.</p>
                </div>
            </div>
        </div>
    </div>
</div>