<div>
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our Flag</h2>
    <div class="max-w-7xl mx-auto h-[700px] grid grid-cols-6 shadow-2xl mt-5">
        <div style="background:#1e5631;" class="flex justify-center items-center group">
            <span class="font-black text-white text-xl uppercase opacity-0 group-hover:opacity-100 transition">Loss</span>
        </div>
        <div style="background:#a4de02;" class="flex justify-center items-center group">
            <span class="font-black text-white text-xl uppercase opacity-0 group-hover:opacity-100 transition">
                Determination
            </span>
        </div>
        <div style="background:#76ba1b;" class="flex justify-center items-center group">
            <span class="font-black text-white text-xl uppercase opacity-0 group-hover:opacity-100 transition">
                Peace
            </span>
        </div>
        <div style="background:#4c9a2a;" class="flex justify-center items-center group">
            <span class="font-black text-white text-xl uppercase opacity-0 group-hover:opacity-100 transition">
                Unity
            </span>
        </div>
        <div style="background:#acdf87;" class="flex justify-center items-center group">
            <span class="font-black text-white text-xl uppercase opacity-0 group-hover:opacity-100 transition">
                Knowledge
            </span>
        </div>
        <div style="background:#68bb59;" class="flex justify-center items-center group">
            <span class="font-black text-white text-xl uppercase opacity-0 group-hover:opacity-100 transition">
                Recovery
            </span>
        </div>
    </div>
</div>